<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <link rel="shortcut icon" type="x-icon" href="{% static 'images/page_ico.ico' %}"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Converter APP</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
  </head>
  <body>
    <header>
      <h1 id="titulo">Civil Engineering common units converter</h1>
    </header>
    <section class="container">
      <div class="converter-title">
        <h1 id="converter-title">Units</h1>
      </div>
      <form action="" method="POST">
        {% csrf_token %}
        <span id="types-title">Types</span>
        <div >
          {{form.types}}
        </div>
          <div>
            <span id="from-unit">{{ form.from_unit}}</span>
            <button type="submit" value="="/>=</button>
            <span id="to-unit">{{to_unit}}</span>
          </div>
          <div class="from-to">
            <span id="from">From</span>
            <span id="to">To</span>
          </div>
          <div id="form-control-types">{{form.unit_types_from}}{{form.unit_types_to}}</div>
      </form>
    </section>
  </body>
</html>
