__pycache__/

*.db
*.sqlite3
*.log

.env
.venv/
env

.DS_Store

package-lock.json

core/settings/dev.py

assets/
staticfiles/*
!staticfiles/.gitkeep

env/lib64
env/pyvenv.cfg
env/bin/python
env/bin/python3
env/bin/python3.8
